.App{
  width: 25%;
  margin: auto;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 18px 3px rgb(214, 214, 214);
}
button{
  padding: 10px 30px;
  font-size: 17px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}
table td, table th{
  border: 1px solid #d1d5db;
  padding: 10px;
  text-align: center;
}
table th{
  background-color: #2b609d;
  color: white;
  padding-top: 10px;
  padding-bottom: 12px;
}
h1{
  cursor: pointer;
}